HTTP/1.1 200 OK
Content-Language: en
P3P: CP='CURa ADMa DEVa PSAo PSDo OUR BUS UNI PUR INT DEM STA PRE COM NAV OTC NOI DSP COR'
Content-Type: text/css
Accept-Ranges: bytes
ETag: "819903800"
Last-Modified: Fri, 14 Sep 2012 01:32:42 GMT
Content-Length: 4256
Date: Mon, 15 Apr 2024 22:05:58 GMT
Server: lighttpd/1.4.28

.button {
	background-image: url('/web/images/button/button.png');
	background-repeat: no-repeat;
	width:80px;
	height:25px;
	text-align:center;
	line-height: 25px;
	font-weight: bold;
	color:#fff;
	cursor:pointer;
}
.button:hover {
	background-image: url('/web/images/button/button-h.png');
}
.button_display {
	background-image: url('/web/images/button/button-display.png');
	background-repeat: no-repeat;
	width:80px;
	height:25px;
	text-align:center;
	line-height: 25px;
	font-weight: bold;
	color:#fff;
	cursor:pointer;
}

.button_min {
	background-image: url('/web/images/button/min-button.png');
	background-repeat: no-repeat;
	width:101px;
	height:32px;
	text-align:center;
	line-height: 32px;
	/*font-weight: bold;*/
	color:#fff;
	cursor:pointer;
	font-family: Tahoma;
	font-size:14px
}

.button_min:hover {
	background-image: url('/web/images/button/min-h-button.png');
}
.button_min_display {
	background-image: url('/web/images/button/min-button-display.png');
	background-repeat: no-repeat;
	width:101px;
	height:32px;
	text-align:center;
	line-height: 32px;
	font-weight: bold;
	color:#fff;
	cursor:pointer;
}

.button_medium {
	background-image: url('/web/images/button/medium-button.png');
	background-repeat: no-repeat;
	width:131px;
	height:25px;
	text-align:center;
	line-height: 25px;
	font-weight: bold;
	color:#fff;
	cursor:pointer;
}

.button_medium:hover {
	background-image: url('/web/images/button/medium-h-button.png');
}
.button_medium_display {
	background-image: url('/web/images/button/middle-button-display.png');
	background-repeat: no-repeat;
	width:132px;
	height:26px;
	text-align:center;
	line-height: 26px;
	font-weight: bold;
	color:#fff;
	cursor:pointer;
}

.button_max {
	background-image: url('/web/images/button/max-button.png');
	background-repeat: no-repeat;
	width:189px;
	height:25px;
	text-align:center;
	line-height: 25px;
	font-weight: bold;
	color:#fff;
	cursor:pointer;
}

.button_max:hover {
	background-image: url('/web/images/button/max-h-button.png');
}

.button_max_display {
	background-image: url('/web/images/button/max-button-display.png');
	background-repeat: no-repeat;
	width:198px;
	height:25px;
	text-align:center;
	line-height: 25px;
	font-weight: bold;
	color:#fff;
	cursor:pointer;
}

.button_max_generic {
	background-image: url('/web/images/button/max-generic-button.png');
	background-repeat: no-repeat;
	width:189px;
	height:25px;
	text-align:center;
	line-height: 25px;
	font-weight: bold;
	color:#fff;
	cursor:pointer;
}

.button_max_generic:hover {
	background-image: url('/web/images/button/max-generic-h-button.png');
}

.button_max_generic_display {
	background-image: url('/web/images/button/max-button-display.png');
	background-repeat: no-repeat;
	width:198px;
	height:25px;
	text-align:center;
	line-height: 25px;
	font-weight: bold;
	color:#fff;
	cursor:pointer;
}


.button_large {
	background-image: url('/web/images/button/large-button.png');
	background-repeat: no-repeat;
	width:385px;
	height:25px;
	text-align:center;
	line-height: 25px;
	font-weight: bold;
	color:#fff;
	cursor:pointer;
}

.button_large:hover {
	background-image: url('/web/images/button/large-h-button.png');
}

.button_large_display {
	background-image: url('/web/images/button/large-button-display.png');
	background-repeat: no-repeat;
	width:385px;
	height:25px;
	text-align:center;
	line-height: 25px;
	font-weight: bold;
	color:#fff;
	cursor:pointer;
}

.button_login {
	background-image: url('/web/images/button.png');
	background-repeat: no-repeat;
	width:170px;
	height:38px;
	text-align:center;
	line-height: 38px;
	font-weight: bold;
	color:#fff;
	cursor:pointer;
}

.button_login:hover {
	background-image: url('/web/images/light_bt.png');
}

.button_max_wizard {
	background-image: url('/web/images/button/max-wizard-button.png');
	background-repeat: no-repeat;
	width:189px;
	height:25px;
	/*text-align:center;*/
	line-height: 25px;
	font-weight: bold;
	color:#fff;
	cursor:pointer;
}

.button_max_wizard:hover {
	background-image: url('/web/images/button/max-wizard-h-button.png');
}
